
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - SmileDesign</title>
    <link rel="shorcut icon" href="/static/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/base.css" type="text/css">
    <link rel="stylesheet" href="/static/about.css" type="text/css">
</head>
<body>
<header>
    <a href="" class="logo">
        <p class="logoFirstLine">Simple <span style="color: #BD7048">Design</span></p>
        <p><span style="font-size: 10px;">дизайн интерьеров</span></p>
    </a>
    <div>
        <img class="menuIcon" src="/static/menu.svg" alt="menu" onclick="menu()">
        <nav id="nav">
            <a href="" class="navElement">Главная</a>
            <a href="" class="navElement">Тест</a>
            <a href="" class="navElement">Каталог</a>
            <a href="" class="navElement">О нас</a>
            <a href="" class="navElement">Цены</a>
            <div class="PhoneBlock mobileBlock">
                <div class="phoneBlock">
                    <a href="tel:+77005053000">
                        <img src="/static/phoneIcon.svg" alt="phoneIcon">
                        <p>+7 700 505 3000</p>
                    </a>
                    <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
                </div>
            </div>
        </nav>
    </div>
    <div class="PhoneBlock desktopBlock">
        <div class="phoneBlock">
            <a href="tel:+77005053000">
                <img src="/static/phoneIcon.svg" alt="phoneIcon">
                <p>+7 700 505 3000</p>
            </a>
            <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
        </div>
    </div>
</header>
<main>
    <div class="wrap">
        <div class="video">
            <div class="videoOverlay js-video-btn">
                <div class="videoPlay">
                    <img src="/static/videoPlay.svg" alt="play">
                </div>
            </div>
            <video class="js-video" muted>
                <source src="/static/video.mp4">
            </video>
        </div>

        <div>

        </div>




    </div>
</main>

<footer>
    <div class="whiteFooterBlock">
        <a href="#" class="logo">
            <p class="logoFirstLine">Simple <span style="color: #BD7048">Design</span></p>
            <p><span style="font-size: 10px;">дизайн интерьеров</span></p>
        </a>
        <nav class="footerNav">
            <a href="#" class="navElement">Главная</a>
            <a href="#" class="navElement">Тест</a>
            <a href="#" class="navElement">Каталог</a>
            <a href="#" class="navElement">О нас</a>
            <a href="#" class="navElement">Цены</a>
        </nav>
        <nav class="footerNav">
            <a href="#" class="navElement">Политика конфиденциальности</a>
            <a href="#" class="navElement">Условия пользования</a>
        </nav>
        <div class="PhoneBlock">
            <div class="phoneBlock">
                <a href="tel:+77005053000">
                    <img src="/static/phoneIcon.svg" alt="phoneIcon">
                    <p>+7 700 505 3000</p>
                </a>
                <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
            </div>
        </div>
    </div>
    <div class="blackFooterBlock">
        <p>(с) 2022. Все права защищены.</p>
    </div>

</footer>

<script src="/js/index.js"></script>

</body>
</html>
