<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги и цены - SmileDesign</title>
    <link rel="shorcut icon" href="/static/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/base.css" type="text/css">
    <link rel="stylesheet" href="/static/services.css" type="text/css">
</head>
<body>
<header>
    <a href="" class="logo">
        <p class="logoFirstLine">Simple <span style="color: #BD7048">Design</span></p>
        <p><span style="font-size: 10px;">дизайн интерьеров</span></p>
    </a>
    <div>
        <img class="menuIcon" src="/static/menu.svg" alt="menu" onclick="menu()">
        <nav id="nav">
            <a href="" class="navElement">Главная</a>
            <a href="" class="navElement">Тест</a>
            <a href="" class="navElement">Каталог</a>
            <a href="" class="navElement">О нас</a>
            <a href="" class="navElement">Цены</a>
            <div class="PhoneBlock mobileBlock">
                <div class="phoneBlock">
                    <a href="tel:+77005053000">
                        <img src="/static/phoneIcon.svg" alt="phoneIcon">
                        <p>+7 700 505 3000</p>
                    </a>
                    <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
                </div>
            </div>
        </nav>
    </div>
    <div class="PhoneBlock desktopBlock">
        <div class="phoneBlock">
            <a href="tel:+77005053000">
                <img src="/static/phoneIcon.svg" alt="phoneIcon">
                <p>+7 700 505 3000</p>
            </a>
            <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
        </div>
    </div>
</header>
<main>
    <div class="wrap">
        <section class="services">
            <div class="service_1">
                <div class="firstTitleBlock">
                    <div class="serviceTitle">
                        <img src="/static/line.svg" alt="line">
                        <p>Планировка</p>
                    </div>
                </div>
                <div class="topMargin">
                    <p class="text">
                        Мы разработаем для вас уникальное планировочное решение квартиры, которое будет
                        соответствовать как нормам эргономики, так и вашим личным пожеланиям,
                        а также подготовим чертеж для согласования планировки.
                    </p>

                    <p class="text medium">
                        Вам подойдет, если:
                    </p>

                    <ul class="text">
                        <li>Вы купили квартиру без отделки и планируете начать ремонт;</li>
                        <li>Вы приобрели квартиру с ремонтом, и не понимаете, как правильно зонировать ее и расставить мебель;</li>
                        <li>Вы хотите изменить интерьер квартиры, в которой уже проживаете.</li>
                    </ul>

                    <p class="text medium">
                        Срок выполненния:
                    </p>

                    <p class="text">
                        5 рабочих дней после получения замера
                    </p>

                    <p class="text medium">
                        Вы получите:
                    </p>

                    <ul class="text">
                        <li>2 варианта планировки + финальный</li>
                        <li>план демонтажа стен</li>
                        <li>план монтажа перегородок</li>
                    </ul>

                    <div class="priceBlock">
                        <p class="medium"><span style="font-size: 18px;">Цена услуги:</span></p>
                        <p class="price medium">69999 руб</p>
                    </div>

                    <div class="serviceButtons">
                        <button type="button" class="buttonToCart">
                            <img src="/static/basketButtonIcon.svg" alt="basket">
                            <p>В корзину</p>
                        </button>
                        <a href="#" class="button">
                            Посмотреть пример
                        </a>
                    </div>

                </div>
            </div>

            <div class="service_2">
                <div class="secondTitleBlock">
                    <div class="serviceTitle">
                        <img src="/static/line.svg" alt="line">
                        <p>Дизайн-проект</p>
                    </div>
                </div>
                <div class="topMargin">
                    <p class="text">
                        Мы разработаем для вас уникальное планировочное решение квартиры, которое будет соответствовать
                        как нормам эргономики, так и вашим личным пожеланиям.
                    </p>
                    <p>
                        Затем мы подготовим альбом, состоящий из 12 чертежей, необходимых строителям для ремонта.
                    </p>

                    <p class="text medium">
                        * также, вы можете дополнительно выбрать любой дизайн из нашего каталога, и мы добавим его в ваш проект.
                    </p>

                    <p class="text medium">
                        Вам подойдет, если:
                    </p>

                    <ul class="text">
                        <li>Вы купили квартиру в новостройке, и нужен чёткий план на ремонт;</li>
                        <li>Вы хотите полностью переделать квартиру с уже готовой отделкой или вторичку;</li>
                        <li>Вы планируете бюджетный ремонт квартиры для дальнейшей сдачи в аренду.</li>
                    </ul>

                    <p class="text medium">
                        Срок выполненния:
                    </p>

                    <ul class="text">
                        <li>5 рабочих дней после получения замера - составление планировки</li>
                        <li>7 рабочих дней после согласования планировочного решения - подготовка комплекта чертежей</li>
                    </ul>

                    <p class="text medium">
                        Вы получите:
                    </p>

                    <ul class="text">
                        <li>2 варианта планировки + финальный</li>
                        <li>планы демонтажа и монтажа стен</li>
                        <li>розетки, выключатели, освещение</li>
                        <li>сантехника</li>
                        <li>план потолка</li>
                        <li>план пола и плинтусов</li>
                        <li>план дверей</li>
                    </ul>

                    <div class="priceBlock">
                        <p class="medium"><span style="font-size: 18px;">Цена услуги:</span></p>
                        <p class="price medium">169999 руб</p>
                    </div>

                    <div class="serviceButtons">
                        <button type="button" class="buttonToCart">
                            <img src="/static/basketButtonIcon.svg" alt="basket">
                            <p>В корзину</p>
                        </button>
                        <a href="#" class="button">
                            Посмотреть пример
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="extraServices">
            <h2>Дополнительные услуги</h2>
            <div class="extraServicesList">
                <div class="oneExtraService">
                    <a href="#">
                        <img src="/static/service1.svg" class="extraServicePhoto" alt="Service photo">
                    </a>
                    <a href="#">
                        <p>Тендер строительных бригад</p>
                    </a>
                </div>
                <div class="oneExtraService">
                    <a href="#">
                        <img src="/static/service3.svg" class="extraServicePhoto" alt="Service photo">
                    </a>
                    <a href="#">
                        <p>Составление сметы</p>
                    </a>
                </div>
                <div class="oneExtraService">
                    <a href="#">
                        <img src="/static/service2.svg" class="extraServicePhoto" alt="Service photo">
                    </a>
                    <a href="#">
                        <p>Печать альбома</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="questions">
            <h2>Часто задаваемые вопросы</h2>
            <div class="accordion">
                <article class="accordionItem">
                    <div class="accordionQuestion">
                        <img src="/static/openAnswer.svg" alt="openAnswer" class="accordionOpenIcon">
                        <img src="/static/closeAnswer.svg" alt="closeAnswer" class="accordionCloseIcon">
                        <p>Вопрос</p>
                    </div>
                    <div class="accordionAnswer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus,
                            in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus.
                            Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas
                            aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis.
                            Sit porttitor a vulputate aliquam elementum, odio lacus.
                        </p>
                    </div>
                </article>
                <article class="accordionItem">
                    <div class="accordionQuestion">
                        <img src="/static/openAnswer.svg" alt="openAnswer" class="accordionOpenIcon" onclick="OpenAccordion()">
                        <img src="/static/closeAnswer.svg" alt="closeAnswer" class="accordionCloseIcon" onclick="CloseAccordion()">
                        <p>Вопрос</p>
                    </div>
                    <div class="accordionAnswer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada nibh at ornare turpis sit lacus,
                            in viverra volutpat. Id sed quam consectetur condimentum tellus pellentesque a, convallis metus.
                            Hac dui sit cursus ac id aliquet. A convallis suspendisse in nulla risus, senectus vitae. Condimentum in aliquet egestas
                            aliquam at eu. Id bibendum iaculis netus ipsum quis amet lectus nisi mattis.
                            Sit porttitor a vulputate aliquam elementum, odio lacus.
                        </p>
                    </div>
                </article>
            </div>
        </section>

    </div>
</main>
<footer>
    <div class="whiteFooterBlock">
        <a href="#" class="logo">
            <p class="logoFirstLine">Simple <span style="color: #BD7048">Design</span></p>
            <p><span style="font-size: 10px;">дизайн интерьеров</span></p>
        </a>
        <nav class="footerNav">
            <a href="#" class="navElement">Главная</a>
            <a href="#" class="navElement">Тест</a>
            <a href="#" class="navElement">Каталог</a>
            <a href="#" class="navElement">О нас</a>
            <a href="#" class="navElement">Цены</a>
        </nav>
        <nav class="footerNav">
            <a href="#" class="navElement">Политика конфиденциальности</a>
            <a href="#" class="navElement">Условия пользования</a>
        </nav>
        <div class="PhoneBlock">
            <div class="phoneBlock">
                <a href="tel:+77005053000">
                    <img src="/static/phoneIcon.svg" alt="phoneIcon">
                    <p>+7 700 505 3000</p>
                </a>
                <p><span style="color: rgba(59,59,59,0.5);">с 9:00 до 18:00</span></p>
            </div>
        </div>
    </div>
    <div class="blackFooterBlock">
        <p>(с) 2022. Все права защищены.</p>
    </div>

</footer>


<script src="/js/index.js"></script>

</body>
</html>
